body {
    background-color: rgb(247, 245, 180);
}


.top {
    text-align: center;
    position: relative;
    margin-top: 500px;
    font-size: 20px;
    color: white;
}

.bt {
    text-align: center;
    position: relative;
    font-size: 30px;
    color: white;
}



@media all and (min-width:1501px) and (max-width:2000px) { 
  body {
    background-color: rgb(8, 31, 105);}
    .bt2 {
        display: none;
    }
    .bt3 {
        display: none;
    }
    .bt4 {
        display: none;
    }  
} 


@media all and (min-width:1000px) and (max-width:1500px) { 
    body {
        background-color: rgb(7, 121, 64);
      }
    .bt1 {
        display: none;
    }
    .bt3 {
        display: none;
    }
    .bt4 {
        display: none;
    }  
} 


@media all and (min-width:600px) and (max-width:1000px) {
    body {
        background-color: rgb(131, 9, 76);
      }
    .bt1 {
        display: none;
    }
    .bt2 {
        display: none;
    }
    .bt4 {
        display: none;
    }  
} 


@media all and (max-width:600px) {
    body {
        background-color: rgb(241, 179, 7);
      }
    .bt1 {
        display: none;
    }
    .bt2 {
        display: none;
    }
    .bt3 {
        display: none;
    }  
}