.header{
    display: flex;
    position: sticky;
    /*스크롤이올라가면 컨텐츠 위로 올라오도록 설정해주는 코드*/
    z-index: 2;
    top: 0;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
}

.header_homelink {
    display: inline-block;
    padding: 0 24px;
    height: 72px;
    line-height: 72px;
    cursor: pointer;
}

.header_logo {
    height: 48px;
    vertical-align: middle;
    margin-bottom: 4px;
    font-size: 30px;
}

.header_nav_item {
    font-size: 20px;
}

.header_nav_item a{
    display: inline-block;
    height: 72px;
    line-height: 72px;
}

@media (max-width: 768px) {
    .header_nav {
        display: none;
    }
}

@media (min-width: 769px) {
    .header_nav_item {
        display: inline-block;
        position: relative;
    }
    .header_nav_item:last-child {
        margin-right: 1.6em;
    }
    .header_nav_item a{
        padding: 0 0.8em;
    }
}

