* {
    background-color: gray;
}

.box1{
    border: 3px solid blue;
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 50px 100px 30px; 
    /*pading top left 등으로 하는게 더 편함 */
    margin-bottom: 30px; /*공백*/
}

.box2{
    box-sizing: border-box;
    border: 3px solid red;
    width: 200px;
    height: 200px;
    background-color: white;
    padding-top: 30px; /*내부이동*/
    padding-left: 100px;
}

.box3 {
    box-sizing: content-box;
    border: 3px solid green;
    width: 200px;
    height: 200px;
    background-color: white;
    padding-top: 30px;
    padding-left: 100px;
    margin-top: 30px;
}

.container {
    display: flex; /*옆으로 정렬 */
    flex-direction: column; /*생성방향*/
    align-items: center; /*중앙정렬*/
    justify-content: center;
}